In [ ]:
#bai 1
import pandas as pd
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
mypan = pd.DataFrame([mydict], index= ['list', 'arr'])
mypan

In [ ]:
#bai 2
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
see = ser.to_frame(name= 'arr')
see

In [ ]:
#bai 3
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
ser3 = pd.concat({'ser1': ser1, 'ser2': ser2}, axis= 1)
ser3

In [ ]:
#bai 4
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
dif1 = ser1[-ser1.isin(ser2)]
dif1
dif2 = ser2[-ser2.isin(ser1)]
dif3 = pd.concat([dif1, dif2])
dif3

In [ ]:
#bai 5
ser = pd.Series(np.random.normal(10, 5, 25))
print(ser.min())
print(ser.quantile(0.25))
print(ser.mean())
print(ser.quantile(0.75))
print(ser.max())

In [ ]:
#bai 6
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size = 30)))
#ta có 1 list là: ['a,b,c,d,e,f,g,h']
#np.random.randint(8, size = 30) là tạo ra 1 dãy gồm 30 dòng và lựa chọn ngẫu nhiên trong list từ 0 đến 8
ser.value_counts()

In [ ]:
#bai 7
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top = ser.value_counts().nlargest(2).index
ser1 = ser.where(ser.isin(top), 'other')
ser1

In [ ]:
#bai 8
ser = pd.Series(np.random.random(20))
deciles = pd.qcut(ser, 10, labels= [f'decile {i}' for i in range(1, 11)])
deciles

In [ ]:
#bai 9
ser = pd.Series(np.random.randint(1, 10, 35))
#tao ra 1 day co 35 dong voi moi dong co so ngau nhien tu 1 den 10
ser = pd.DataFrame(ser.values.reshape(7, 5))
ser

In [ ]:
#bai 10
ser = pd.Series(np.random.randint(1, 10, 35))
ser[ser%3 == 0]

In [ ]:
#bai 11
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
poc = [0, 4, 8, 14, 20]
ser.iloc[poc]

In [ ]:
#bai 12
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser3 = pd.concat([ser1, ser2], axis= 1)
ser3

In [ ]:
#bai 13
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10 ,13])
ser1[ser1.isin(ser2)]

In [ ]:
#bai 14
truth = pd.Series(range(10))
pred = pd.Series(range(10) + np.random.random(10))
median = (truth**2 + pred**2)/2
median

In [ ]:
#bai 15
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.str.capitalize()

In [ ]:
#bai 16
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
hieu = ser.shift(-1) - ser.shift(1)
hieu[1:-1]

In [ ]:
#bai 17
from dateutil import parser
ser = pd.Series(['01 Jan 2010', 
                 '02-02-2011',
                 '20120303',
                 '2013/04/04', 
                 '2014-05-05',
                 '2015-06-06T12:20'])

dates = ser.apply(lambda x: parser.parse(x))

values = [1, 2, 3, 4, 5, 6]

series = pd.Series(data= values, index= dates)

series

In [ ]:
#bai 18
emails = pd.Series(['buying a book at amazon.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

pattern = r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'

very_valid_emails = emails[emails.str.contains(pattern, regex= True)]

print(very_valid_emails)

In [ ]:
#bai 19
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

no_confuse = pd.DataFrame({'Fruit': fruit, 'Weights': weights})

each_fruit_average = no_confuse.groupby('Fruit')['Weights'].mean()

each_fruit_average

In [ ]:
#bai 20
euro12 = pd.read_csv('Euro 2012 stats TEAM.csv')

print(euro12.dtypes)
print(euro12.shape)
#1
print(euro12['Goals'])
#2
the_number_of_team = euro12.shape['Team']
print(the_number_of_team)
#3
print(euro12)
#4
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
print(discipline)
#5
try_to_sort_smaller_number_with_two_colums = discipline.sort_values(by= ['Yellow Cards', 'Red Cards'], ascending= False)
print(try_to_sort_smaller_number_with_two_colums)
#6
yellow_cards_average = discipline['Yellow Cards'].mean()
print(yellow_cards_average)

team_vip_pro = euro12[euro12['Goals'] > 6]
print(team_vip_pro)
#7
only_G = euro12[euro12['Team'].str.startswith('G')]
print(only_G)
#8
print(euro12.iloc[:, : 7])
#9
print(euro12.iloc[:, : -3])
#10
print(euro12[['Goals', 'Team', 'Shooting Accuracy', 'Yellow Cards', 'Red Cards']])
#11
nature_selective = euro12[euro12['Team'].isin(['England', 'Italy', 'Russia'])]
print(nature_selective['Team', 'Shooting Accuracy'])

In [ ]:
#bai 21
#1
drink = pd.read_csv('drink.csv', index_col= 0)

print(drink.dtypes)
print(drink.shape)
print(drink.columns)
print(drink.head())
print(drink.tail())
#2
average_beer_consumption_in_each_continent = drink.groupby('Continent')['Beer'].mean()
#3
wine_describe_in_each_continent = drink.groupby('Continent')['Wine'].describe()
#4
average_beer_and_wine_consumption_in_each_continent = drink.groupby('Continent')[['Beer', 'Wine']].mean()
#5
median_beer_and_wine_consumption_in_each_continent = drink.groupby('Continent')[['Beer', 'Wine']].median()
#6
average_spirit_servings = drink.groupby('Continent')['spirit_servings'].mean()
highest_spirit_servings = drink.groupby('Continent')['spirit_servings'].max()
lowest_spirit_servings = drink.groupby('Continent')['spirit_servings'].min()
#7
the_big_5 = drink.sort_values(by= 'Beer', ascending= False).head()
the_small_5 = drink.sort_values(by= 'Beer', ascending= True).tail()

In [ ]:
#bai22
stock1 = {'date', 
          'symbol', 
          'open', 
          'high', 
          'low', 
          'close', 
          'volume'}
stock1_df = pd.DataFrame(stock1)
stock1_df.to_csv('stock1.csv', 
                 index= False)

stock2 = {'date', 
          'symbol', 
          'open', 
          'high', 
          'low', 
          'close', 
          'volume'}
stock2_df = pd.DataFrame(stock2)
stock2_df.to_csv('stock2.csv', 
                 index= False)

company = {'name',
           'employees',
           'headquarters_city',
           'headquarters_state'}
company_df = pd.DataFrame(company)
company_df.to_csv('companies.csv',
                  index= False)
#1
stock1 = pd.read_csv('stock1.csv')
print(stock1.head())
print(stock1.tail())
print(stock1.dtypes)
stock1.info()

stock2 = pd.read_csv('stock2.csv')
print(stock2.head())
print(stock2.tail())
print(stock2.dtypes)
stock2.info()

companies = pd.read_csv('companies.csv')
print(companies.dtypes)
companies.info()
#2
stock1['high'] = stock1['high'].fillna(stock1.groupby('symbol')['high'].transform('max'))

stock1['low'] = stock1['low'].fillna(stock1.groupby('symbol')['low'].transform('min'))

print(stock1)
#3
stocks = pd.concat([stock1, 
                    stock2], 
                    axis= 0, 
                    ignore_index= True)

print(stocks.head(15))

print(stocks.tail(15))
#4
stocks_companies = pd.merge(stocks,
                            companies,
                            left_on= 'symbol',
                            right_on = 'name',
                            how= 'left')
print(stocks_companies.head())
#5
company_average = stocks_companies.groupby('name')[['open',
                                                    'high',
                                                    'low',
                                                    'close',
                                                    'volume']].mean()
print(company_average)
#6
close_status = stocks_companies.groupby('name')['close'].agg(average_close = 'mean',
                                                             max_close = 'max',
                                                             min_close = 'min')
print(close_status)
#7
stocks_companies["parsed_time"] = pd.to_datetime(stocks_companies["date"])

print(stocks_companies["parsed_time"].dtype)
print(stocks_companies.head())
#8
stocks_companies["result"] = np.where(stocks_companies["close"] > stocks_companies["open"],
                                      "up",
                                      "down")
print(stocks_companies)

In [ ]:
import requests
import matplotlib.pyplot as plt

url = "https://files.grouplens.org/datasets/movielens/ml-latest-small.zip"
file_name = "ml-latest-small.zip"

response = requests.get(url)

with open(file_name, "wb") as f:
    f.write(response.content)

movies = pd.read_csv(file_name, compression= 'zip')
ratings = pd.read_csv(file_name, compression= 'zip')
#1
print(movies)
print(movies.info())
print(ratings)
print(ratings.info())
#2
movies = movies.dropna()
print(movies)
ratings = ratings.dropna()
ratings = ratings[pd.to_numeric(ratings['rating'], 
                                errors='coerce').notnull()]
ratings['rating'] = ratings['rating'].astype(float)
print(ratings)
#3
movie_rating = pd.merge(movies, ratings, on="movieId", how="left")
print(movie_rating)
#4
sorted_movie_rating = movie_rating.sort_values(by="rating", ascending=False)
print(sorted_movie_rating)
#5
print(movie_rating.describe())
#6
movie_rating["parsed_time"] = pd.to_datetime(movie_rating["timestamp"], unit='s')
print(movie_rating)
#7
plt.figure(figsize=(8,5))
movie_rating['rating'].hist(bins= 10, 
                            edgecolor= 'black')
plt.title('Rating Distribution')
plt.xlabel('Rating')
plt.ylabel('Count')
plt.show()

top_movies = movie_rating.groupby('title')['rating'].mean().sort_values(ascending=False).head(10)
plt.figure(figsize=(10,6))
top_movies.plot(kind='bar', 
                color='skyblue')
plt.title('Top 10 Movies by Average Rating')
plt.ylabel('Average Rating')
plt.xticks(rotation=45, 
           ha='right')
plt.show()

ratings_count = movie_rating.groupby('title')['rating'].count().sort_values(ascending=False).head(10)
plt.figure(figsize=(10,6))
ratings_count.plot(kind= 'bar', 
                   color= 'orange')
plt.title('Top 10 Movies by Number of Ratings')
plt.ylabel('Number of Ratings')
plt.xticks(rotation=45, 
           ha='right')
plt.show()