In [ ]:
#cau 1
import sqlite3

conn = sqlite3.connect('mydatabase.db')

cursor = conn.cursor()

cursor.execute('SELECT sqlite_version()')

ver = cursor.fetchone()

print("SQLite version:", ver[0])

conn.close()

In [ ]:
#cau 2
memory = sqlite3.connect(':memory:')

mem_cursor = memory.cursor()

mem_cursor.execute("""
                   CREATE TABLE users(
                   id INTEGER PRIMARY KEY, 
                   name TEXT
                   )
                   """)

mem_cursor.execute("INSERT INTO users (name) VALUES ('AssHoles')")
memory.commit()

file = sqlite3.connect('base.db')

memory.backup(file)

cursor_file = file.cursor()

cursor_file.execute('SELECT * FROM users')

print(cursor_file.fetchall())

file.close()
memory.close()

In [ ]:
#cau 3
cum = sqlite3.connect('more_database.db')

fursor = cum.cursor()

fursor.execute("""
CREATE TABLE IF NOT EXISTS users (
               id INTEGER PRIMARY KEY AUTOINCREMENT,
               name TEXT NOT NULL,
               created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
               )
""")

cum.commit()
cum.close()

In [ ]:
#cau 4
def tablet(n):
    fum = sqlite3.connect(n)
    curse = fum.cursor()
    fum.execute("""
                SELECT name
                FROM sqlite_master
                WHERE type = 'table'
                ORDER BY name;
    """)
    tables = curse.fetchall()
    if tables:
        print('Database:')
        for i in tables: print('_', i[0])
    else: print('Nothing')
    fum.close()

file_name = input('Enter the file name: ')
tablet(file_name)

In [ ]:
#cau 5
kong = sqlite3.connect('stUDENTS.db')
stand = kong.cursor()
stand.execute("""
CREATE TABLE IF NOT EXISTS students (
              id INTEGER PRIMARY KEY AUTOINCREMENT,
              name TEXT NOT NULL,
              age INTERGER,
              score INTERGER
              )
""")
student_data = [
    ('A', 100, 9),
    ('B', 200, 10),
    ('C', 400, 8)
]
stand.executemany("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", student_data)
kong.commit()
stand.execute('SELECT * FROM students')
rows = stand.fetchall()
for i in rows: print(i)
kong.close()

In [ ]:
#cau 6
def count_what_in_the_table(file_name, table):
    fonk = sqlite3.connect(file_name)
    conk = fonk.cursor()
    conk.execute(f"SELECT COUNT(*) FROM {table}")
    count = conk.fetchone()[0]
    fonk.close()
    return count

database = input('Enter the database name: ')
table = input('Enter table name: ')
total = count_what_in_the_table(database, table)
print(total)

In [ ]:
#cau 7
def update(file, table, column, new_value):
    kick = sqlite3.connect(file)
    nip = kick.cursor()
    next = f"""
        UPDATE {table} 
        SET {column} = ?
    """
    nip.execute(next, (new_value,))
    kick.commit()
    updated = nip.rowcount
    kick.close()
    print(updated)
update(input('Enter database: '),
       input('Enter table: '),
       input('Enter column: '),
       input('Enter new value: '))

In [ ]:
#cau 8
def delete(file, table, row_id):
    conk = sqlite3.connect(file)
    kirk = conk.cursor()
    dank = f'DELETE FROM {table} WHERE = ?'
    kirk.execute(dank, (row_id,))
    conk.commit()
    if kirk.rowcount != 0: print('DELETED')
    else: print('UNFOUNDED')
    conk.close()

delete(input('Enter file name: '),
       input('Enter table: '),
       input('Enter id row: '))

In [ ]:
#cau 9
import pandas as pd
this_homework_is_bullshit = {
    'REGION_ID': [1, 
                  2, 
                  3, 
                  4],
    'REGION_NAME': ['Europe',
                    'Americas',
                    'Asia',
                    'Middle East and Africa']
}
df = pd.DataFrame(this_homework_is_bullshit)
df.to_csv('region.csv', index= False)
dp = pd.read_csv('region.csv')
col1 = max(len('REGION_ID'), dp['REGION_ID'].astype(str).map(len).max())
col2 = max(len('REGION_NAME'), dp['REGION_NAME'].map(len).max())
up = f"+{'-' * (col1 + 2)}+{'-' * (col2 + 2)}+"
head = f"|{'REGION_ID'.ljust(col1)}|{'REGION_NAME'.ljust(col2)}"
print(up)
print(head)
print(up)
for _, i in dp.iterrows(): print(f"|{str(i['REGION_ID']).ljust(col1)}|{str(i['REGION_NAME']).ljust(col2)}|")
print(up)

In [ ]:
#cau 10
def create_product_table():
    kerk = sqlite3.connect('product.db')
    funge = kerk.cursor()
    funge.execute("""
        CREATE TABLE IF NOT EXISTS product (
                  Id INTEGER PRIMARY KEY,
                  Name TEXT NOT NULL,
                  Price REAL NOT NULL,
                  Amount INTEGER NOT NULL
        )
    """)
    kerk.commit()
    kerk.close()
def show_the_products():
    jerk = sqlite3.connect('product.db')
    dork = jerk.cursor()
    dork.execute('SELECT * FROM product')
    row = dork.fetchall()
    if row:
        print('Id| Name | Price | Amount')
        for i in row: print(i)
    else: print('THIS CODE IS BROKEN')
    jerk.close()
def insert_the_product():
    name = input('Enter product name: ')
    price = float(input('Enter product price: '))
    amount = int(input('Enter product amount: '))
    beck = sqlite3.connect('product.db')
    disk = beck.cursor()
    disk.execute('INSERT INTO product (Name, Price, Amount) VALUES (?, ?, ?)', (name, price, amount))
    beck.commit()
    beck.close()
    print('HERE')
def find_the_product():
    name = input('Enter the product desired: ')
    jerk = sqlite3.connect('product.db')
    dork = jerk.cursor()
    dork.execute('SELECT * FROM product WHERE Name = ?', (name, ))
    ron = dork.fetchall()
    if ron:
        for i in ron: print(i)
    else: print('Nuh uh')
    jerk.close()
def update_the_product():
    id = int(input('Enter the product ID for this freaking code to update: '))
    price = float(input('And then the price: '))
    amount = int(input('And the amount: '))
    jerk = sqlite3.connect('product.db')
    dork = jerk.cursor()
    dork.execute("""
                 UPDATE product
                 SET Price = ?, Amount = ?
                 WHERE id = ?
    """, (id, price, amount))
    jerk.commit()
    if dork.rowcount > 0: print('UPDATED')
    else: print('BOLLOCK')
    jerk.close()
def delete_the_product():
    id = int(input('Enter the freaking ID to be deleted'))
    jerk = sqlite3.connect('product.db')
    dork = jerk.cursor()
    dork.execute('DELETE FROM product WHERE Id = ?', (id, ))
    jerk.commit()
    if dork.rowcount > 0: print('DElETED')
    else: print('SCREW THIS HOMEWORK')
    jerk.close()
def diss():
    create_product_table()
    while True:
        print("""
              MENU:
        1. Show all products
        2. Insert new product
        3. Find product by name
        4. Update product price & amount
        5. Delete product by ID
        6. Exit
        """)
        choice = int(input('Enter the number: '))
        if choice == 1: show_the_products()
        elif choice == 2: insert_the_product()
        elif choice == 3: find_the_product()
        elif choice == 4: update_the_product()
        elif choice == 5: delete_the_product()
        elif choice == 6:
            print('GET OUT')
            break
        else: print('Y ARE RETARD')

In [ ]:
#cau 11
db_name = 'ql_nhan_vien.db'
def create_a_db():
    fo = sqlite3.connect(db_name)
    lk = fo.cursor()
    lk.execute('PRAGMA foreign_keys = ON')
    lk.execute("""
        CREATE TABLE IF NOT EXISTS PHONG (
            Id INTEGER PRIMARY KEY,
            Name TEXT NOT NULL,
            Price REAL NOT NULL,
            Amount INTEGER NOT NULL
        )
    """)
    lk.execute("""
        CREATE TABLE IF NOT EXISTS NHAN_VIEN (
            id INTEGER PRIMARY KEY,
            ho_ten TEXT NOT NULL,
            tuoi INTEGER NOT NULL,
            dia_chi TEXT NOT NULL,
            luong REAL NOT NULL,
            Id_phong INTEGER NOT NULL,
            FOREIGN KEY (Id_phong) REFERENCES PHONG(Id)
        )
    """)
    fo.commit()
    fo.close()
    print('DONE')
create_a_db()